<html lang="en"style="background-color:#273C49;">

<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
</head>
<p align="center"><img src="{{url_for('static',filename='beerico.png')}}" witdth="150" height="150" ></p>
<br>
<br>
<br>
<br> 
<p align="center">{{player}} </p>
<p align="center">{{titulo}}</p>
<p align="center">{{prueba}}</p>
<br>
<br>
<br>
<body>
  <a class="navbar-brand" href="/play">
  	<img src="{{ url_for('static', filename='next.png') }}"width="50" height="50" >
  	
  </a>
  </body>
</html>
