
<!DOCTYPE html>
<html lang="en"style="background-color:#273C49;">
<head>
	<meta charset="utf-8">
	<title>Beermanity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='beerico.png') }}">
</head>
<header style="background-color:#273C49;">
	<div class="navbar-header">
      		<a class="navbar-brand" href="/">
	  	<img style="max-width:60px; margin-top: -7px;" src="{{ url_for('static', filename='beerico.png') }}">
	  	</a>
    	</div>
	
</header>

<body style="background-color:#273C49;"> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="background-color:#273C49;">
		<h4 style="color:red">Please Register:</h4>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control"
			  placeholder = "Username" name="reg_user" value="{{request.form.reg_user}}">
			<input type="password" class="form-control" 
			 placeholder = "Password" name="reg_password" value="{{request.form.reg_password}}">
			 <input type="password" class="form-control" 
			 placeholder = "Repite la contraseña" name="reg_password2" value="{{request.form.reg_password2}}">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
		<br>
		<p style="color:red">{{error}} </p>
	</div>

</body>
</html>
